/* --inicio geral-- */
body{
    font-family: "calibri", sans-serif;
    width: 1024px; 
    margin: auto;
    background-image: url(../img/bg.png);
}

section{
    box-shadow: 0px 1px 6px 1px #ccc;
    margin-bottom: 8px;
}

div{
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(70,148,190,.5);
    padding: 16px;
    width: 400px;
}

.container p{
    text-align: justify;
    padding-bottom: 8px;
    font-weight: bold;
    color: #191919;
    width: 500px;
}
section{
    border-bottom-right-radius: 40px;
}

.lista{
    width: 440px;
    list-style: square;
    padding-left: 24px;
    padding-bottom: 16px;
    text-align: justify;
}

.lista li{
    padding-top: 8px;
}
/* --fim geral-- */
/* --inicio menu-- */
header{
    background-color: rgba(25,25,25,.65);
    position: fixed;
    right: 0;
    height: 30px;
}

.menu{
    text-align: right;
    padding: 10px 8px 10px;
    display: inline;
}

.menu a{
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
    color: #fff;
}

.menu a:before{
    content: '[';
}

.menu a:after{  
    content: ']';
}

.menu a:hover{
    color: #f00;
    font-weight: bold;
}

.menu a:focus{
    text-decoration: underline;
}

.menu li ul{
     display: none;
}

.menu li:hover ul{
     display: block;
}

#sub-menu{
    background-color: #000;
    padding-top: 8px;
    opacity: .5;
}
#sub-menu a{
    font-size: 16px;
    padding-right: 8px;
}

#sub-menu a:before{
    content: none;
}

#sub-menu a:after{
    content: ' |';
}
/* --fim menu-- */
/* --inicio newsletter-- */
#newsletter{
    padding: 30px 16px 0px;
    background: linear-gradient(#c8c8c8,#fff);
    margin-bottom: 32px;
    text-align: center;
}
#newsletter div{
    text-align: center;
    width: auto;
}

#newsletter p{
    text-align: center;
    width: auto;
}

input{
    border: 2px solid #000;
    border-radius: 8px;
    width: 524px;
    height: 30px;
    text-align: center;
}

#email{
    width: 486px;
}

button{
    border: solid 2px #000;
    border-radius: 8px;
    font-size: 16px;
}
/* --fim newsletter-- */
/* --inicio footer-- */
footer{
    text-align: center;
    padding: 16px 16px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(#f0f0f0,#c8c8c8);
}

footer p{
    padding-bottom: 10px;
}
/* --fim footer--*/

